{% extends 'base.html.twig' %}
{% block body %}
{{ render(controller('SoftoneBundle:Service:content', { 'ctrl': ctrl,'app':app,'url':url,'content':content }) ) }}
<div id='resulthtml'></div>
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
<script>
    $(".{{ctrl}}").alexTabs("{{app}}", "{{ctrl}}", "{{url}}","{{content|json_encode()}}");
</script>

{% endblock %}
