{% extends 'base.html.twig' %}
{% block body %}
{{ render(controller('SoftoneBundle:Service:content', { 'ctrl': ctrl,'app':app,'url':url,'content':content }) ) }}
<div id='resulthtml' style='width:100%; float:left'></div>
{% endblock %}
{% block stylesheets %}
    <style>
    #resulthtml table, #resulthtml table tr, #resulthtml table td {
        border: 1px solid black;
    }
    </style>    
{% endblock %}
{% block javascripts %}
    
<script>
    $(".{{ctrl}}").alexTabs("{{app}}", "{{ctrl}}", "{{url}}","{{content|json_encode()}}");
    setTimeout(function () {
        jQuery(".asksksaksk select").chosen({width: "100%"});
    }, 1000)
    jQuery(".asksksaksk select").change(function(){
        jQuery(".asksksaksk select").trigger('chosen:updated');
    })    
</script>

{% endblock %}
