{% block body %}
    <div class="alexander {{ctrl}}" ng-app="{{app}}" ng-controller="{{ctrl}} as vm">
        <form ng-submit="vm.onSubmit()" name="vm.form" class="form" id="{{ctrl}}" novalidate>     
            <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
            <button type="button" class="btn btn-default" ng-click="vm.resetAllForms()">Reset</button>          
            <uib-tabset>
                {% for tab in tabs.tabs %}
                    <uib-tab heading="{{ tab.title }}">
                        {{tab.content | raw }}
                        <formly-form model="tab.form.model" fields="tab.form.fields" form="vm.form" options="tab.form.options"></formly-form> 
                    </uib-tab> 
                {% endfor %}      
            </uib-tabset>  
        </form>
    </div>    
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
