{% extends 'base.html.twig' %}
{% block body %}
{% for button in buttons %}
        <button class="btn {{ button.class }} {{ button.position }}">{{ button.label }}</button>    
{% endfor %}    
{{ render(controller('EdiBundle:Eltreka:tabs', { 'ctrl': ctrl,'app':app,'url':url,'tabs':tabs }) ) }}
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
<script>$(".{{ctrl}}").alexTabs("{{app}}", "{{ctrl}}", "{{url}}","{{tabs}}");</script>
{% endblock %}
