{% extends 'base.html.twig' %}

{% block body %}
<div class="gui-controls" style="text-align: right">
    <button class="btn btn-success btn-raised  ink-reaction save_model_Order retrieveSoftones">
        <div class="gui-icon"><i class="fa fa-database"></i></div>
        <span class="title"><a target='_blank' href='/supplier/retrieve'>Retrieve</a></span>
    </button>    
</div>     
{{ render(controller('SoftoneBundle:Supplier:datatable', { 'ctrl': ctrl,'app':app,'url':url })) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
<script>
    $(".{{ctrl}}").alexDataTable("{{app}}", "{{ctrl}}", "{{url}}", "{{view}}");
    $(".retrieveSoftones").click(function(){
        window.open('/supplier/retrieve')
       // $(".retrieveSoftoneLink").click();
    })     
</script>
{% endblock %}
