{% extends 'base.html.twig' %}
{% block body %}   
    <div class="gui-controls" style="text-align: right">

    <button class="btn btn-success btn-raised  ink-reaction save_model_Order">
        <div class="gui-icon"><i class="fa fa-database"></i></div>
        <span class="title"><a target='_blank' href='/supplier/synchronize/{{supplierid}}'>Synchronize</a></span>
    </button>    
    </div>  
{{ render(controller('SoftoneBundle:Supplier:content', { 'ctrl': ctrl,'app':app,'url':url,'content':content }) ) }}
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
<script>
    $(".{{ctrl}}").alexTabs("{{app}}", "{{ctrl}}", "{{url}}","{{content|json_encode()}}");
</script>
{% endblock %}
