{% block body %}
    <div>   
        <div class="" style="float:left;  width: 100%; margin: 0; padding: 0"> 
            <div class="col-lg-6 ">
                <div class="col-lg-12 ">
                    <div class="height-2 form" style="float:left;  width: 100%; margin: 0; padding: 0">
                        <input id="productfreesearch" class='form-control productfreesearch' placeholder="Ελεύθερη Αναζήτηση" type="text">  
                        <input id="productitem" class='form-control productitem' placeholder="Αναζήτηση με Κωδικό" type="text">        
                    </div> 
                </div>
                <div class="col-lg-12 ">


                    <div class="panel-group" id="accordion5">
                        <div class="card panel">
                            <div class="card-head style-info card-head collapsed" data-toggle="collapse" data-parent="#accordion5" data-target="#accordion5-1">
                                <header>
                                    <i class="fa fa-automobile"></i> Αναζήτηση με Όχημα
                                </header>
                                <div class="tools">

                                    <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div id="accordion5-1" class="collapse">
                                <div class="card-body">
                                    <div class='plaisio'>
                                        <select style="width:100%" name="brand_id" class="brand-select" class="brand-select" title="" onchange="">
                                            <option value="0">Επιλέξτε Μάρκα</option>
                                            {% for brand in brands %}
                                                <option value="{{brand.id}}">{{brand.brand}}</option>
                                            {% endfor %}    
                                        </select>
                                    </div>
                                    <div class='plaisio'>
                                        <select style="width:100%" name="brand_model_id" class="brand_model-select inactive" class="brand_model-select" title="" onchange="">

                                        </select>   
                                    </div>
                                    <div class='plaisio'>
                                        <select  style="width:100%" name="brand_model_type_id" class="brand_model_type-select inactive" class="brand_model-select" title="" onchange="">
                                        </select>  
                                    </div>
                                    <button type="btn" id="gogo" title="Αναζήτηση" class="gogo button"><span><span>Αναζήτηση</span></span></button>                  
                                </div>
                            </div>
                        </div><!--end .panel -->
                        
                        <div class="card panel">
                            <div class="card-head style-info card-head collapsed" data-toggle="collapse" data-parent="#accordion5" data-target="#accordion5-3">
                                <header>
                                    <i class="fa fa-cogs"></i> Αναζήτηση με Κινητήρα
                                </header>
                                <div class="tools">
                                    <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div id="accordion5-3" class="collapse">
                                <div class="card-body">
                                    Παρακαλώ πληκτρολογήστε τον κωδικό του Κινητήρα<BR>
                                    Π.χ. AR32310<BR>
                                    <input class="form-control" placeholder="Γράψτε τον Κωδικό" id="searchmotor" type="text" name="s" value="" class="searchmotor input-text" maxlength="" />

                                </div>
                            </div>
                        </div><!--end .panel -->
                        
                        
                        <div class="card panel" style="{{fanoshow}}">
                            <div class="card-head style-info card-head collapsed" data-toggle="collapse" data-parent="#accordion5" data-target="#accordion5-4">
                                <header>
                                    <i class="fa fa-automobile"></i> Αναζήτηση με Φανοποιεία
                                </header>
                                <div class="tools">

                                    <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div id="accordion5-4" class="collapse">
                                <div class="card-body">
                                    <div class='plaisio'>
                                        <select style="width:100%" name="fbrand_id" class="fbrand-select"  title="" onchange="">
                                            <option value="0">Επιλέξτε Μάρκα</option>
                                            {% for brand in fbrands %}
                                                <option value="{{brand.brand}}">{{brand.brand}}</option>
                                            {% endfor %}    
                                            
                                        </select>
                                    </div>
                                    <div class='plaisio'>
                                        <select style="width:100%" name="fbrand_model_id" class="fbrand_model-select inactive" title="" onchange="">

                                        </select>   
                                    </div>
                                    <div class='plaisio'>
                                        <select  style="width:100%" name="fbrand_model_type_id" class="fbrand_model_type-select inactive" title="" onchange="">
                                        </select>  
                                    </div>
                                    <button type="btn" id="fgogo" title="Αναζήτηση" class="fgogo button"><span><span>Αναζήτηση</span></span></button>                  
                                </div>
                            </div>
                        </div><!--end .panel -->                        
                        
                        
                        
                        <div class="card panel">
                            <div class="card-head style-info card-head collapsed" data-toggle="collapse" data-parent="#accordion5" data-target="#accordion5-2">
                                <header>
                                    <i class="fa fa-cogs"></i> Ιστορικό Αναζήτησεων
                                </header>
                                <div class="tools">
                                    <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div id="accordion5-2" class="collapse">
                                <div class="card-body">
                                    {{history | raw}}
                                </div>
                            </div>
                        </div>                        

                    </div>                

                </div>    
            </div>
            <div class="col-lg-6 ">
                <div class='categories'></div>    
            </div>
        </div>    
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        


    </script>
{% endblock %}

