{% extends 'base.html.twig' %}

{% block body %}
<div class="gui-controls" style="text-align: right">
    <button class="btn btn-success btn-raised  ink-reaction save_model_Order">
        <div class="gui-icon"><i class="fa fa-database"></i></div>
        <span class="title"><a target='_blank' href='/customer/retrieve'>Retrieve Softone</a></span>
    </button>    
</div>     
{{ render(controller('MegasoftBundle:Customer:datatable', { 'ctrl': ctrl,'app':app,'url':url })) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
<script>$(".{{ctrl}}").alexDataTable("{{app}}", "{{ctrl}}", "{{url}}", "{{view}}");</script>
{% endblock %}
