{% extends 'base.html.twig' %}
{% block body %}
    <button style='float:right' data-ref='0' id="btn-get-new" class="btn btn-primary parse-json" data-target="basic">New Rule</button>    
    {{ render(controller('SoftoneBundle:Productsale:content', { 'ctrl': ctrl,'app':app,'url':url,'content':content }) ) }}
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
<!--script src="{{  asset('assets/js/libs/softone/softoneiorder.js') }}"></script-->
    <script>
        $(".{{ctrl}}").alexTabs("{{app}}", "{{ctrl}}", "{{url}}", "{{content|json_encode()}}");
    </script>
{% endblock %}
