{% extends 'base.html.twig' %}
{% block body %}

    <div class="gui-controls" style="text-align: right">

        <button data-id="{{order}}" class="btn ink-reaction btn-raised ink-reaction btn-success savesoftone">
            <div class="gui-icon"><i class="md md-send"></i></div>
            <span class="title">Send To Softone</span>
        </button>

    </div>       
    {{ render(controller('SoftoneBundle:Invoice:content', { 'ctrl': ctrl,'app':app,'url':url,'content':content }) ) }}
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
<!--script src="{{  asset('assets/js/libs/softone/softoneiorder.js') }}"></script-->
    <script src="{{  asset('assets/js/libs/softone/softoneiorder.js') }}"></script>
    <script src="{{  asset('assets/js/libs/softone/softoneproduct.js') }}"></script>

    <script src="{{  asset('assets/js/libs/softone/jquery.printElement.min.js') }}"></script>  
    <script>
        $(".{{ctrl}}").alexTabs("{{app}}", "{{ctrl}}", "{{url}}", "{{content|json_encode()}}");
    </script>

{% endblock %}
