{% extends 'base.html.twig' %}
{% block body %}
    
<button class="saveorder btn btn-success btn-raised  ink-reaction save_model_Order">
    <div class="gui-icon"><i class="md md-save"></i></div>
    <span class="title"><a target='_blank' href='/product/product/synchronize'>Synchronize</a></span>
</button>
    
{{ render(controller('SoftoneBundle:Product:content', { 'ctrl': ctrl,'app':app,'url':url,'content':content }) ) }}
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
<script src="{{  asset('assets/js/libs/softone/softoneproduct.js') }}"></script>
 
<script>
    $(".{{ctrl}}").alexTabs("{{app}}", "{{ctrl}}", "{{url}}","{{content|json_encode()}}");
</script>
{% endblock %}
